*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

build/
target/
out/
bin/
dist/
nbbuild/
nbdist/
.nb-gradle/

nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
nbproject/configurations.xml
.nb-gradle/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

!nbproject/project.xml
!nbproject/project.properties
!nbproject/build-impl.xml
!nbproject/genfiles.properties

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/
.ionide/
.metals/
.bloop/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

**/config.properties
**/database.properties
**/db.properties
**/application.properties
*.env
.env
.env.local
secrets/

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

*.log
logs/
*.tmp
*.temp
*.bak
*.swp
*.swo
*~

reportes/
exports/
*.csv

resources/imagenes_productos/uploads/

*.sql.bak
backup/
dumps/